#menu {
  background-color: #0169aa;
  color: white;
  padding: 0px;
}
#menu #navegador {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

#titulo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  text-align: center;
  color: white;
  background-color: #e20514;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-bottom: 10px;
}

.principal {
  background-color: #0169aa;
}
.principal .subtitulo {
  padding: 15px;
}
.principal .subtitulo h2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 5px;
}
.principal .deporte {
  display: flex;
  justify-content: center;
  align-content: center;
}
.principal .deporte .logopilar {
  width: 200px;
  height: 150px;
}
.principal .deporte .logopilar #imgpilar {
  width: 200px;
  height: 150px;
}
.principal .deporte .parrafopilar {
  width: 700px;
  height: 150px;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.info {
  display: flex;
  justify-content: space-around;
  background-color: #0169aa;
  align-content: center;
}
.info div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.info div #munisvg {
  width: 175px;
  height: 95px;
}
.info div .data {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  text-align: center;
}

footer {
  background-color: #0169aa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 35px;
}
footer p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: larger;
  text-align: center;
  color: white;
  background-color: #0169aa;
}
footer p .logo2 {
  width: 35px;
  height: 35px;
}

#club {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
#club .sedes {
  display: flex;
}
#club .sedes #picture {
  width: 50%;
  height: 50%;
}

.parrafo {
  text-align: center;
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

article #mapa {
  border-radius: 5px;
  border: solid 2px #0169aa;
}

.fondo, .parrafo {
  background-color: #0169aa;
}

@media only screen and (max-width: 650px) {
  .principal .subtitulo {
    height: 55px;
    padding: 5px;
  }
  .principal .subtitulo h2 {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 25px;
  }
  .principal .deporte {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 75px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .principal .deporte .logopilar {
    width: 70px;
    height: 70px;
  }
  .principal .deporte .logopilar #imgpilar {
    width: 60px;
    height: 60px;
  }
  .principal .deporte .parrafopilar p {
    width: 300px;
    height: 70px;
    font-size: x-small;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
}
@media only screen and (max-width: 650px) {
  .info {
    display: flex;
    justify-content: space-around;
    background-color: #0169aa;
    align-content: center;
  }
  .info div {
    display: flex;
    justify-content: space-between;
  }
  .info div #munisvg {
    width: 100px;
    height: 50px;
  }
  .info div .data {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
  }
}
@media only screen and (max-width: 650px) {
  footer {
    background-color: #0169aa;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 20px;
  }
  footer p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: x-small;
    text-align: center;
    color: white;
    background-color: #0169aa;
  }
  footer p .logo2 {
    width: 15px;
    height: 15px;
  }
}
@media only screen and (max-width: 650px) {
  #club {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  #club .sedes {
    flex-wrap: wrap;
    flex-direction: column;
  }
  #club .sedes #picture {
    height: 100%;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
